{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% bootstrap_css %} 
  <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
  <title>{% block title %}Ecommerce Site{% endblock  %}</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "shop/navbar.html" %}

    <!-- Main page Content -->
    
<div class="container mt-4">
 {% block content %}{% endblock content %}
</div>
   


    <!--Included card component-->
    {% comment %} 
    
    <!--Gap  between sections-->
    <div class="section-gap"></div> {% endcomment %}

    <!--Included card component-->
    
    {% comment %} <div class="container">
      {% include "shop/card.html" %}
    </div> {% endcomment %}



    <!-- Bootstrap js -->
    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock  %}
    
  </body>
</html>
