{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% bootstrap_css %} {% bootstrap_javascript %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <title>Bootstrap_site</title>
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/careers">Careers</a>
      <span class="ms-auto"></span>
      <a class="nav-link" href="/cart">Cart</a>
    </nav>

    <!--Included card component-->
    <div class="container-fluid">
        {% include "shop/carousel.html" %}
    </div>
    
    <!--Gap  between sections-->
    <div class="section-gap"></div>

    <!--Included card component-->
    
    <div class="container">
      {% include "shop/card.html" %}
    </div>

    <h2>Hello World!!!</h2>
  </body>
</html>
